.right {
  text-align: right !important;
}

.center {
  text-align: center !important;
}

.bold {
  font-weight: 600 !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-45 {
  font-size: 45px !important;
}

.upper {
  text-transform: uppercase !important;
}
